* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

.cards {
    display: flex;
    justify-content: flex-start;
    padding: 0 20px;
    margin-top: 10px;
}

.card {
   display: flex;
   flex-direction: column;
   padding: 10px 15px;
   box-shadow: 0 0 10px 0px black;
   margin-right: 10px;
   flex-basis: 250px;
}

.card_text {
    margin-bottom: 20px;
    flex-grow: 1;
}

.card_link {
    text-decoration: none;
}

.flex-inner {
    width: 50px;
    height: 40px;
    background-color: brown;
    margin: 5px;
    padding: 5px;
    order: 5;
}

.flex-inner:nth-child(4) {
    order: 0;
}

.flex-inner:nth-child(2) {
    order: 10;
}

.flexorder {
    display: flex;
    justify-content: center;
    color: #fff;
}