.flexwrap {
    display: flex;
    /* flex-wrap: wrap; */
    background-color: gray;
    height: 550px;
    align-content: space-around;
    /* flex-direction: column; */
    justify-content: space-around;
    flex-flow: row wrap;
}

.flex-inner {
    background-color: olive;
    width: 200px;
    height: 100px;
}

