.flexbox {
    display: inline-flex;
    flex-direction: column;
    background-color: darkslategray;
}

.flexbox > div {
    border: 1px solid black;
    padding: 10px;
    background-color: deeppink;
}